<div id="AndrijanaCurkovic" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('AndrijanaCurkovic').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Interaction of a thin fluid layer with an elastic plate</h3>

<p><i>Andrijana Ćurković, PMF </i></p>

<p>The interaction of an incompressible fluid occupying thin two-dimensional
channel with an elastic plate located on the upper part of the fluid domain
boundary is considered. The flow is modeled by non-steady Stokes equations
and it is governed by a time-dependent pressure drop and an external force. The
problem is studied in the limit when the thickness of the channel tends to zero.
A sixth order parabolic equation is obtained for the effective plate displacement.
We state and prove results on existence, uniqueness and regularity of the solution
of the effective problem.
  </p>
  <p>This is joint work with Eduard Marušić-Paloka.</p>
    </div>
  </div>
</div>