<div id="AnitaCarevic" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('AnitaCarevic').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Solving the inverse scattering problem in ultrasound tomography using regularized total least squares</h3>

<p><i>Anita Carević, FESB </i></p>

<p> In recent years there have been significant improvements in the use of ultrasound tomography (UT) for the detection of breast cancer. However, ill-posed inverse problem in numerical algorithms utilized for UT is still an issue. To overcome this,  we are solving the inverse problem with two forms of the regularized total least squares (RTLS) method. In order to reconstruct the ultrasound image from the synthetic data, we used the distorted Born iterative (DBI) method, which convergence is ensured using aforementioned RTLS, resulting in a high quality image reconstruction. </p>
   
  
  <p>This is a joint work with Jesse Barlow, Ivan Slapničar and Mohamed Almekkawy. </p>
    </div>
  </div>
</div>