<div id="DamirVukicevic" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('DamirVukicevic').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>MMR vaccination rates predicted by combining epidemic spread models, game theory, wisdom of crowds, Fibonacci trading, and Google search statistics</h3>

<p><i>Damir Vukičević, PMF</i></p>

<p> Bauch and Earn proposed analysis of vaccination by combining SIR epidemic spread model and game theory. This model will be amended here. Mentioned model is amended by adding assumptions of wisdom of crowd (different irrational behaviors of individuals cancel each one out when averaged). Hence, all the irrationality comes from only one systematic error - assumption that parents can detect weather MMR vaccination contributed to their children autistic disorder. This assumption is used to extrapolate vaccination rate during vaccination scare. Analogy between vaccination rates and movements of stock prices is explored by applying Fibonacci trading. Connection of vaccination-rates and number of results of Google search engine is analyzed. Developed model corresponds well to England’s vaccination rates during vaccination scare caused by infamous Wakefield paper. </p>
    </div>
  </div>
</div>