<div id="DanielKressner" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('DanielKressner').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Bivariate matrix functions: Algorithms and Applications</h3>

<p><i>Daniel Kressner, EPF Lausanne </i></p>

<p>Bivariate matrix functions provide a unified framework for various tasks
in numerical linear algebra, including the solution of linear matrix
equations and the computation of Frechet derivative. In this talk, we
discuss a novel variants of Krylov subspace methods for approximating such
bivariate matrix functions and analyze their convergence. We then focus on
the particular case of Frechet derivatives and its application to the
solution of inverse problems and graph learning.</p>


    </div>
  </div>
</div>

