<div id="EricGoles" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('EricGoles').style.display='none'" class="w3-button w3-display-topright">&times;</span>

<h3>Dynamics and Complexity of Majority Automata: application to some discrete social models </h3>

<p><i>Eric Goles, Universidad Adolfo Ibáñez, Santiago, Chile</i></p>

<p>A Majority Automata consists of applying over the vertices of a undirected graph (with states 0’s and 1’s) an operator that chooses the most represented state among the neighbors of a vertex. This rule is applied in parallel over all the nodes of the graph. When the graph is a regular lattice (in one or more dimensions) it is called the Majority Cellular Automata. </p>

<p>In this seminar we will  study  the computational complexity of the following prediction problem:

PRED: Given an initial configuration and a specific site initially at state a ( 0 or 1), is there a time step T≥1 such that this site changes state?</p>

<p>The complexity of  PRED is characterized by the possibility to find an algorithm that give the answer faster than the running of the automata simulation in a serial computer. More precisely, if we are able to determine an algorithm running in a parallel computer in polylog time (class NC). Otherwise, the problem may be P-Complete ( one of the most dificult in class P of Polynomial problems) or … worse.</p>

<p>We will applied this kind of  results to the discrete Schelling’s segregation model. Also we will present the Sakoda’s Social Discret model. </p>

    </div>
  </div>
</div>
