<div id="IvanSlapnicar" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('IvanSlapnicar').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Fast Optimal Damping</h3>

<p><i>Ivan Slapničar, FESB </i></p>

<p>We formulate the eigenvalue problem underlying the mathematical model of a linear vibrational system as an eigenvalue problem of a diagonal-plus-rank-one matrix $A$. The eigenvector matrix of $A$ has Cauchy-like structure. We compute the trace of the solution of the Lyapunov equation $AX+XA^*=-GG^*$ using fast computations with Cauchy-like and Toeplitz-like matrices. Here $G$ is a low-rank matrix which depends on the damped eigenfrequencies. This is joint work with Nevena Jakovčević Stor.  </p>
    </div>
  </div>
</div>