<div id="LanaPerisa" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('LanaPerisa').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Multidimensional arrays with Julia</h3>

<p><i>Lana Periša, FESB </i></p>

<p>Writing algorithms with multidimensional arrays (i.e. tensors) can be tedious and frustrating. Starting with release 0.4, Julia makes it easy to write elegant and efficient multidimensional algorithms. The new capabilites rest on two foundations: a new type of iterator and sophisticated array indexing mechanism. This simplifes the notation and can significantly speed up tensor operations such as creating block diagonal tensors and Kronecker products of tensors, which is particularly useful when dealing with compressed schemes of tensors, such as Tucker format.  </p>
    </div>
  </div>
</div>