<div id="NevenaJakovcevicStor" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('NevenaJakovcevicStor').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Accurate computation of roots of real polynomials with real simple roots</h3>

<p><i>Nevena Jakovcević Stor, FESB </i></p>

<p>As showed in (Fiedler, 1990), any polynomial can be expressed as a characteristic polynomial of
a complex symmetric arrowhead matrix. This expression is not unique. If the polynomial is real
with only real distinct roots, the matrix can be chosen real. By using the algorithm for computing
eigenvalues of the real symmetric arrowhead matrices we derive a new algorithm for computation
of roots of such polynomials in $\mathcal{O}(n^2)$ operations. The algorithm computes each root to almost
full accuracy. In some cases, the algorithm invokes extended precision routines, but only in the
non-iterative part. The algorithm compares favorably to other method for polynomial root-finding,
like MPSolve or Newton’s method. This is joint work with Ivan Slapničar.  </p>
    </div>
  </div>
</div>