<div id="VesnaGotovac" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('VesnaGotovac').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      
<h3>Similarity measures of random sets based on N-distances and their applications to two-realisation problem</h3>

<p><i>Vesna Gotovac, PMF </i></p>

<p>In recent years random sets were recognised as a valuable tool in modelling different processes from fields like biology, biomedicine or material sciences. These random sets could be of very ragged shaped and therefore difficult to compare or describe using simple models.</p>

<p> In this talk, we focus on statistical testing of similarity of random sets in a nonparametric way.</p>

<p>We propose two different approaches for assessing the similarity between random sets based on two realisations. In the first approach, we compare their inner structure with the aim to capture the repulsion or clustering tendencies of the set components. The second approach takes into account the general position and the shape of the set components. We define similarity measures as the p-values of tests of equality in distribution based on N-distances.</p>

<p>Both approaches are justified by a simulation study and applied to real data.</p>
  </div>
    </div>
</div>